<nav class="navbar bg-blue-900 text-white py-2">
    <div class="container mx-auto flex justify-between items-center">
      <!-- Menú -->
      <div class="flex space-x-4">
        <a href="#" class="navbar-link">Panel</a>
        <a href="ficha" class="navbar-link">Pacientes</a>
        <a href="calendario" class="navbar-link">Citas Calendario</a>
        <a href="#" class="navbar-link">Facturas</a>
        <a href="#" class="navbar-link">Listados</a>
        <a href="#" class="navbar-link">Config. Clínica</a>
      </div>
      
      
  