<nav class="navbar bg-blue-900 text-white py-2">
  <div class="container mx-auto flex justify-between items-center">
   
      <div class="logo">
          <a href="/">
              <img src="assets/img3.png" alt="Logo" class="h-10">
          </a>
      </div>

    
      <div class="menu flex space-x-8">
          <a href="#" class="navbar-link">Panel</a>
          <a href="listado" class="navbar-link">Pacientes</a>
          <a href="calendario" class="navbar-link">Citas Calendario</a>
         
      </div>
  </div>
</nav>
