<div class="barra-opciones">
    <button class="btn" [routerLink]="['/listado']" routerLinkActive="activo">Listado</button>
    <button class="btn" [routerLink]="['/ficha-paciente']" routerLinkActive="activo">Ficha Paciente</button>
    <button class="btn" [routerLink]="['/consulta']" routerLinkActive="activo">Consultas H. Clínica</button>
   
  <!-- quedo en proceso  <button class="opcion-btn" [routerLink]="['/informes']" routerLinkActive="activo">Informes</button>
    <button class="opcion-btn" [routerLink]="['/citas']" routerLinkActive="activo">Citas</button> -->
  </div>

  